@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

:root {
    --color-primary: #5D62F9;
    --color-secondary: #ED7014;
    --color-tertiary: #181818;
    --color-tertiary-light: #333333;
    --color-accent: #FFFFFF;
    --color-accent-dark: #EDEDEF;

    --ff-primary: 'Oswald', sans-serif;

    --fw-regular: 400;
    --fw-light: 300;

    --fs-heading: 2rem;
    --fs-subheading: 1.5rem;
    --fs-p: 1rem;

    --letter-spacing: 0.0625rem;
}

html {
    scroll-behavior: smooth;
}

html, 
body {
    height: 100%;
}

body {
    font-family: var(--ff-primary);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, 
li {
    list-style-type: none;
}

img,
picture,
svg {
    object-fit: cover;
    max-width: 100%;
    display: block;
}

input, textarea {
    width: 100%;
    display: block;
}

.container {
    max-width: 93.75%; /* 1800px */
    margin: 0 auto;
}

h1 {
    margin-bottom: 1em;
}

/* **** ICONS **** */
.fa-instagram
.fa-instagram::before,
.fa-instagam::after {
    color: var(--color-accent);
    width: 50px;
    height: auto;
}

/* *************** NAVIGATION ************ */
header {
    background-color: var(--color-primary);
    color: var(--color-accent);
    padding: 2em;
    font-family: var(--ff-primary);
    border-bottom: var(--color-accent) 1px solid;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-accent);
}

header .flex-start .logo {
    min-width: 50px;
    max-width: 50px;
    width: 100%;
    height: auto;

    margin: 0 0.25em 0 0;
}

header .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

header .flex-start {
    display: flex;
}

.nav-logo-content h3 a {
    font-size: var(--fs-subheading);
    font-weight: var(--fw-regular);
    color: var(--color-accent);
    text-decoration: none;
}

.nav-logo-content p {
    font-size: var(--fs-p);
    font-weight: var(--fw-light);
}

nav ul li {
    font-size: var(--fs-p);
    font-weight: var(--fw-light);
}

nav ul li a {
    transition: all 0.1s ease;
    font-size: 1.35rem;
}

nav ul li a:hover {
    border-bottom: 2px solid var(--color-accent);
}

nav ul li.nav-email a {
    background-color: var(--color-accent);
    font-weight: var(--fw-regular);
    color: var(--color-primary);
    padding: 0.5em 1em;
    border-radius: 0.75rem;
    transition: none;
}

/* *************** HERO ************ */
.hero {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: url("../images/home-hero.jpg");

    /* Set a specific height */
    height: 85%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 3rem;
    color: var(--color-accent);
}



/* *************** ABOUT US ************ */
.about-us {
    background-color: var(--color-primary);
    padding: 5vw;
}

.about-us .container {
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    background-color: var(--color-accent);
}

.about-us-content {
    width: 100%;
    max-width: 62.5em;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    margin: 10%;
}

.about-us-content h2 { 
    color: var(--color-primary); 
    font-size: var(--fs-heading);
}

.about-us-content p { 
    color: var(--color-tertiary); 
    font-weight: var(--fw-light);
    font-size: var(--fs-p); 
    letter-spacing: var(--letter-spacing);
}


.about-us .about-us-image {
    width: 100%;
    max-width: 50em;
    height: auto;
}


.about-us .flex {
    display: flex;
}

@media (min-width: 1532px) {

    .about.us .container img {
        display: block;
    }
    .about.us .container {
        flex-direction: column;
    }
}



/* *************** SPOTLIGHT ************ */
.spotlight {
    background-color: var(--color-tertiary);
    padding: 5em 1em;
}

.spotlight img {
    width: 100%;
    max-width: 500px;
    min-width: 450px;
    height: auto;
    padding: 0 0 0 5em;
}

.spotlight .flex {
    display: flex;
    justify-content: center;
}

.spotlight-content {
    color: var(--color-accent);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    gap: 2em;
    padding: 5em;
    letter-spacing: var(--letter-spacing);

    max-width: 600px;
}

.spotlight-content h2 {
    font-size: var(--fs-heading);
}

.spotlight-content h3 {
    font-weight: var(--fw-light);
}

.spotlight-content p {
    font-size: var(--fs-p);
    font-weight: var(--fw-light);
}

.spotlight-content a {
    background-color: var(--color-accent);
    color: var(--color-tertiary);

    font-weight: var(--fw-light);

    text-decoration: none;
    max-width: fit-content;
    padding: 0.5em 1em;
    border: 1px solid var(--color-accent);
    border-radius: 1.25rem;
}

@media (max-width: 991px) {

    .spotlight {
        padding: 1em;
    }
    .spotlight .flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .spotlight img {
        min-width: 100px;
        padding: 0;
    }

    .spotlight-content {
        padding: 2em;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .spotlight-content a {
        text-align: center;
    }
}



/* *************** SUB-UNITS ************ */
.sub-units {
    background-color: var(--color-accent);
    color: var(--color-tertiary);
    padding: 5em 0.625em;
}

.sub-units .sub-units-heading p {
    font-size: var(--fs-subheading);
    font-weight: var(--fw-light);
}

.sub-units-heading {
    text-align: center;
    font-size: var(--fs-heading);
    margin-bottom: 2em;
}

.sub-units .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    flex-wrap: wrap;
}

.sub-unit-text {
    color: var(--color-tertiary);
}

.sub-units .sub-unit-text h2 {
    font-size: var(--fs-subheading);
}

.sub-units .sub-unit-text p {
    font-size: var(--fs-p);
    font-weight: var(--fw-light);
    letter-spacing: var(--letter-spacing);
}

.sub-units .item {
    max-width: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    text-align: center;
}

.icon {
    font-size: 2em;
}



/* *************** TEAM MEMBERS ************ */
.team-members {
    background-color: var(--color-tertiary);
    color: var(--color-accent);
    padding: 5vw;
}

.team-members-heading {
    text-align: center;
    margin-bottom: 2em;
}

.team-members-heading h1 {
    font-size: 3rem;
}

.team-members .team-members-heading p {
    font-size: var(--fs-subheading);
    font-weight: var(--fw-light);
}

.team-members .container img {
    width: 100%;
    max-width: 450px;
    height: auto;

    margin-bottom: 2em;
}

.team-members .container .member-info {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    padding: 5%;
}

.team-members .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
    place-items: center;
}

@media (max-width: 1136px) {

    .team-members .grid {
        grid-template-columns: 2fr 2fr;
    }
}

@media (max-width: 700px) {
    
    .team-members .grid {
        grid-template-columns: 1fr;
        place-items: center;
    }
}

.member-info .name {
    font-size: var(--fs-subheading);
}

.member-info .role {
    font-size: var(--fs-p);
    font-weight: var(--fw-regular);
}  


.member-info .year {
    font-size: var(--fs-p);
    font-weight: var(--fw-light);
}



/* *************** CURRENT SEASON ************ */
.current-season {
    background-color: var(--color-tertiary);
    color: var(--color-accent);
}

.current-season-heading {
    text-align: center;
    font-size: var(--fs-heading);
    font-weight: var(--fw-regular);
    padding: 2em 0;
}

.current-season .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    padding: 0;
}

@media (max-width: 628px) {
    .current-season .cards {
        padding: 4em 1em;
    }
}

.current-season .cards .card {
    text-align: center;
    max-width: 500px;
    height: auto;
}

.current-season .cards .card .details {
    text-decoration: none;

    color: var(--color-tertiary);
    background-color: var(--color-secondary);
    font-size: var(--fs-p);
    padding: 0.5rem 2rem;
}

.current-season .cards .card .card-content {
    padding: 2em 0;
}

.current-season .card .event-name {
    font-size: var(--fs-subheading);
    font-weight: var(--fw-regular);
    margin-bottom: 1em;
}

.current-season .card .date-location {
    font-size: var(--fs-p);
    font-weight: var(--fw-light);
}



/* *************** CONTACT ************ */
.contact {
    background-color: var(--color-accent);
    color: var(--color-tertiary);
    padding: 5em 0 2em 0;
}

.contact .content .heading {
    margin: 1em 0;
    font-size: var(--fs-heading);
    font-weight: var(--fw-regular);
}

.contact .content {
    display: flex; 
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.contact form .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.contact form {
    width: 600px;
}

.contact form input[type="text"], 
.contact form textarea[type="text"] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-tertiary);
    padding: 0.5em 0.25em;

    color: var(--color-tertiary);
    font-family: inherit;
    letter-spacing: var(--letter-spacing);
    font-weight: var(--fw-light);
    font-size: var(--fs-p);
}

.contact form textarea[type="text"] {
    padding: 0.5em 0.25em;
    height: 200px;
    resize: none;
}

.contact .input {
    color: var(--color-tertiary);
    width: 600px;
    transition: 1s ease;
}

.contact .input textarea {
    transition: 1s ease;
}

.contact form .submit {
    width: 100%;
    transition: 1s ease;

    background-color: var(--color-tertiary);
    border: none;
    color: var(--color-accent);
    font-family: inherit;
    font-weight: var(--fw-regular);
    font-size: 1rem;
    padding: 0.5em 0;
    font-weight: var(--fw-regular);

    cursor: pointer; 
}

.contact form .submit:hover {
    color: var(--color-tertiary);
    background-color: var(--color-accent);
}


@media (max-width: 750px) {

    .contact .input {
        width: 200px;
    }
    .contact form textarea[type="text"] {
        height: 100px;
    }
    .contact form .submit {
        width: 200px;
    }
}


.contact form input[type="text"]:hover, 
.contact form input[type="text"]:focus,
.contact form textarea[type="text"]:hover,
.contact form textarea[type="text"]:focus {
    border: 1px solid var(--color-tertiary);
}

.contact form input::placeholder, 
.contact form textarea::placeholder {
    color: var(--color-tertiary);
}

.contact .address {
    margin: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}

.contact .address .fa-instagram {
    font-size: 1rem;
    color: var(--color-tertiary);
}

.contact .maps-iframe {
    display: flex; 
    justify-content: center;

    margin: 1em;
}






/* *************** FOOTER ************ */
footer {
    background-color: var(--color-tertiary);
    color: var(--color-accent);
    padding: 2em;
    border-top: var(--color-primary) 1px solid;
}

.footer-content {
    text-align: center;
    font-weight: var(--fw-light);
}






/* *************** OUR ROBOTS PAGE ************ */

/* *************** HERO ************ */
.robots-hero {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: url("../images/robots-hero.jpg");

    /* Set a specific height */
    height: 85%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



.robot-tile {
    padding: 5em;
    color: var(--color-accent);
}

.robot-tile .container{
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
    height: auto;

    display: flex;
    justify-content: center;
}

.robot-tile .robot-info {
    width: 100%;
    max-width: 62.5em;
    height: auto;

    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 10%;
}

.robot-tile .robot-info .name {
    font-size: 3rem;
    font-weight: var(--fw-regular)
}

.robot-tile .robot-info .challenge {
    font-size: var(--fs-heading);
    font-weight: var(--fw-regular);
}

.robot-tile .robot-info .description {
    font-size: 1.25rem;
    font-weight: var(--fw-light);
    letter-spacing: var(--letter-spacing);
}

.robot-tile img {
    object-fit: cover;
    width: 100%;
    max-width: 600px;
    min-width: 200px;
    height: auto;
}

.robot-tile .robot-info {
    display: flex;
    flex-direction: column;
}

.tile-order-1 {
    background-color: var(--color-primary);
}

.tile-order-2 {
    background-color: var(--color-secondary);
}

.tile-order-3 {
    background-color: var(--color-tertiary);
}

@media (max-width: 1550px) {
    .robot-tile .robot-info {
        display: flex;
        justify-content: center;
        padding: 2em;
    }
}

@media (max-width: 1100px) {
    .robot-tile .container {
        flex-direction: column;
    }
    .robot-tile .robot-info {
        padding: 2em 0 2em 0;
        gap: 1em;
    }
}

@media (max-width: 550px) {
    .robot-tile {
        padding: 2em;
    }
    
}

@media (max-width: 400px) {
    .robot-tile {
        padding: 1em;
    }
}