@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 0 0 0; /* #000000 */
    --color-secondary: 255 255 255; /* #FFFFFF */
    --color-tertiary: 252 137 23; /* #FC8917 */
    --color-accent: 204 204 204; /* #CCCCCC */
    --color-accent-secondary: 153 153 153; /* #999999 */
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - 4rem));
  }
}

.animate-scroll2 {
  animation: scroll 50s infinite linear;
}

.sponsor-bar:hover .animate-scroll2 {
  animation-play-state: paused;
}